
h2 {
  margin-bottom: 40px;
}


p {
  
   margin: 20px;
  
}



.superContainer{ 
  
  
  height: 1000px;
  background-color: gray;
  margin: 30px;
  overflow: scroll;

}


  .nav a{
    text-align: center;
    border-bottom: solid;
    border-color: lightgray;
  }

  @media (min-width: 768px) {

    .hideplz {

      visibility: hidden;
      overflow: hidden;
    }
  }

 


